@import "tailwindcss";
@import "tw-animate-css";
@import "./assets/fonts/clash-display.css";
@import "./assets/fonts/satoshi.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  /* transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; */
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

.theme-transition *{
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.icon-animate {
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon-animate.moon {
  transform: rotate(0deg) scale(1);
}

.icon-animate.sun {
  transform: rotate(180deg) scale(1);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.slide-animation {
  display: flex;
  animation: slide 60s linear infinite; /* adjust duration as needed */
}
@theme {
  --font-clash-extralight: "ClashDisplay-Extralight", sans-serif;
  --font-clash-light: "ClashDisplay-Light", sans-serif;
  --font-clash-regular: "ClashDisplay-Regular", sans-serif;
  --font-clash-medium: "ClashDisplay-Medium", sans-serif;
  --font-clash-semibold: "ClashDisplay-Semibold", sans-serif;
  --font-clash-bold: "ClashDisplay-Bold", sans-serif;
  --font-clash-variable: "ClashDisplay-Variable", sans-serif;
  --font-satoshi-light: "Satoshi-Light", sans-serif;
  --font-satoshi-lightitalic: "Satoshi-LightItalic", sans-serif;
  --font-satoshi-regular: "Satoshi-Regular", sans-serif;
  --font-satoshi-italic: "Satoshi-Italic", sans-serif;
  --font-satoshi-medium: "Satoshi-Medium", sans-serif;
  --font-satoshi-mediumitalic: "Satoshi-MediumItalic", sans-serif;
  --font-satoshi-bold: "Satoshi-Bold", sans-serif;
  --font-satoshi-bolditalic: "Satoshi-BoldItalic", sans-serif;
  --font-satoshi-black: "Satoshi-Black", sans-serif;
  --font-satoshi-blackitalic: "Satoshi-BlackItalic", sans-serif;
  --font-satoshi-variable: "Satoshi-Variable", sans-serif;
  --font-satoshi-variableitalic: "Satoshi-VariableItalic", sans-serif;
  --color-body-primary: var(--body-background-primary);
  --color-body-secondary: var(--body-background-secondary);
  --color-button-bg: var(--button-bg);
  --color-button-text: var(--button-text);
  --color-navbar-bg: var(--navbar-bg);
  --color-primary: var(--primary);
  /* --color-typing-faded: var(--typing-start);
  --color-typing-primary: var(--typing-end); */
  --color-highlight: var(--highlight);
  --color-toggle-hover: var(--toggle-hover);
  --color-hr-color: var(--hr-color);
  /* --icon-highlight: var(--highlight); */
  --color-dim: var(--dim);
  --color-nav-elements-hover: var(--nav-elements-hover);
  --color-nav-gradient: var(--nav-gradient);
  --color-carousel-gradient: var(--carousel-gradient);
  --color-carousel-text: var(--carousel-text);
  --color-carousel-bg: var(--carousel-bg);
  --color-carousel-border: var(--carousel-border);
  --color-work-btn: var(--work-btn-bg);
}

:root{
  --body-background-primary: #f6f9fa;
  --body-background-secondary: #fff;
  --button-bg: #0a0a0a;
  --button-text: #f6f7ff;
  --navbar-bg: #fffc;
  --primary: #0a0a0a;
  --highlight: #30af5b;
  --typing-start: #c8c8ca;
  --typing-end: #0a0a0a;
  --toggle-hover: #f3f4f6;
  --hr-color: #e8ecf3;
  --dim: #0a0a0a;
  --nav-elements-hover: #0a0a0a;
  --nav-gradient: #d5d5d5;
  --carousel-gradient: #f6f9fa;
  --carousel-text: #cbd5e1;
  --carousel-bg: #f6f9fa;
  --carousel-border: #e2e8f0;
  --work-btn-bg: #f7fff0;
}

[data-theme="dark"] {
  --body-background-primary: #0a0a0d;
  --body-background-secondary: #111017;
  --button-bg: #f6f7ff;
  --button-text: #0a0a0a;
  --navbar-bg: #0b0b0d;
  --primary: #f6f7ff;
  --typing-start: #3a3a3d;
  --typing-end: #f6f7ff;
  --toggle-hover: #27272a;
  --highlight: #b5ff6d;
  --hr-color: #121217;
  --dim: #a9a9bd;
  --nav-elements-hover: #f6f7ff;
  --nav-gradient: #0a0a0a;
  --carousel-gradient: #0a0a0a;
  --carousel-text: #2c2c35;
  --carousel-bg: #191920;
  --carousel-border: #19181f;
  --work-btn-bg: #21291f;
}